body {
    font-family: Georgia, serif;
    background:#0c9430;
    } 
header {
    margin: 0px;
    padding: 0px;
}
h1 {
    color: #FFA1A1;
    text-align: center;
    font-size: 150px;
    padding: 0px;
    margin: 0px;
    }
h2 {
    font-size: 70px;
    text-align: center;
    color: #FFA1A1; 
    margin: 10px;
    padding: 10px;
    }
p {
    font-size: 40px;
    color: #F9E7E7;
    text-align: justify;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 0px;
    padding-bottom: 0px;
}
button {
    display:flex;
    justify-content:center;
    align-items:center;
    width: 250px;
    height:70px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    background-color: #8CA8CF;
    color: black;
    border: none;
    }
section{
    font-family: Grorgia, serif;
    padding:80px;
    margin: 0 auto;
    height: 50px;
    width: 300px;
    background-color: #8CA8CF;
    display: flex;
    align-items: center;
    justify-items: center;
}
.container{
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #FFA1A1;
    padding: 20px;
    margin-bottom: 20px;
}
.formGroup{
    margin-top: 20px;
    font-size: 30px;
    font-family: Georgia, serif;
}
.formGroup input
.formGroup textarea{
    width: 100%;
    padding: 10px;
    border-color: #8CA8CF;
}