body {
    background:#0c9430;
    } 
header {
    margin: 0px;
    padding: 0px;

}
h1 {
    font: Georgia, serif;
    color: #FFA1A1;
    text-align: center;
    font-size: 150px;
    padding: 0px;
    margin: 0px;
    }
h2 {
    font: Georgia, serif;
    font-size: 70px;
    text-align: center;
    color: #FFA1A1; 
    margin: 10px;
    padding: 10px;
    }
p {
    font: Georgia, serif;
    font-size: 40px;
    color: #F9E7E7;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
}
button {
    width:60px;
    height:50px;
    margin: 20px;
    text-align: center;
    background-color: salmon;
    color: black;
    border: none;
    }